.header {
	padding-left: 10px;
	padding-right: 10px;
	padding-top:2%;
	margin-top: 222px;
	font-size: 45px;
	color:#171b22;
	font-family: helvetica;
	text-align:center;
	letter-spacing: 3px;
	font-stretch: 100px;
	background-color:white;
	
}

.title {
	background-image:url(images/cover_photo.jpg); 
	background-size: cover;
	opacity: .8;}

#nav {padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	color:white;
	font-family: helvetica;
	text-align:center;
	letter-spacing: 3px;
	background-color:grey;
	text-decoration: none;

}

a {
	color: #171b22;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: helvetica;
	}
.aboutpic {
	margin: 10px;
}

.centeredimg {
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.col1{
	box-sizing: border-box;
    text-align: justify;
    padding: 5%;
    width: 50%;
    float: left;}

 .col2{
	box-sizing: border-box;
    text-align: justify;
    padding: 5%;
    width: 50%;
    float: left;}




