.header {
	padding-left: 10px;
	padding-right: 10px;
	padding-top:2%;
	margin-top: 222px;
	font-size: 45px;
	color:#171b22;
	font-family: helvetica;
	text-align:center;
	letter-spacing: 3px;
	font-stretch: 100px;
	background-color:white;
	
}

.title {
	background-image:url(images/cover_photo.jpg); 
	background-size: cover;
	opacity: .8;}

#nav {

	font-size: 20px;
	color:white;
	font-family: helvetica;
	text-align:center;
	letter-spacing: 3px;
	background-color:grey;
	text-decoration: none;

}

a {
	color: #171b22;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: helvetica;
	}

#aboutpic {
	display: inline-block; 
	width: 515px;
	padding-top: 10px;
	margin: 0 auto;
}

.col1{
	box-sizing: border-box;
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
    width: 50%;
    float: left;}

 .col2{
	box-sizing: border-box;
    text-align: justify;
    padding-top:  5px;
    padding-right: 5%;
    width: 50%;
    float: left;}

body {
	padding-right: 10px;
	padding-left:10px;
}
.Story {
	font-size: 75px;
	margin-top: 20px;
}


